# Codenation DataScience 2020
## Challenge Credit Score (Module 3)
### Instructions: 
#### To know more about our clients data by state, some statistics from 'pontuação de crédito' are needed:
- average 
- median 
- mode
- standard deviation

In [1]:
import pandas as pd

In [2]:
# import dataset (.csv) as dataframe
df = pd.read_csv('desafio1.csv')

In [3]:
# j/ a Dataset preview
df.head()

,RowNumber,id,sobrenome,pontuacao_credito,estado_residencia,genero,idade,nivel_estabilidade,saldo_conta,numero_produtos,possui_cartao_de_credito,membro_ativo
0,1,e7f44fcbd380d4cef7e6c232cc7e37895c3fd197,6d6e0aa1b9b413e442e2fb68df14b4fc3f91de50,619,SC,F,42,2,0.00,1,1,1
1,2,28dcb083ad90512da16b9430085c2cddb8ca5e12,48e1ad846796fa314f1b4a6702b83343eb5482c5,608,RS,F,41,1,83807.86,1,0,1
2,3,774bc378f787438c9c7594e536787d07a097a54b,f2b29d5d934de615812b697132e767dea0f1e9e2,502,SC,F,42,8,159660.80,3,1,0
3,4,043a71326f7096de155e7f0c559dc62b5e4b7239,85d5c9da7cddd8109ad32a6c348fe2bb10bf99f2,699,SC,F,39,1,0.00,2,0,0
4,5,37b3bb8ca243955fb3605ec7e1c2a4607cdb3b22,ddc89c837a6933639de75f28171057060bd322df,850,RS,F,43,2,125510.82,1,1,1

In [4]:
# get more information about dataset (datatype, number of columns)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   RowNumber                 7000 non-null   int64
 1   id                        7000 non-null   object
 2   sobrenome                 7000 non-null   object
 3   pontuacao_credito         7000 non-null   int64
 4   estado_residencia         7000 non-null   object
 5   genero                    7000 non-null   object
 6   idade                     7000 non-null   int64
 7   nivel_estabilidade        7000 non-null   int64
 8   saldo_conta               7000 non-null   float64
 9   numero_produtos           7000 non-null   int64
 10  possui_cartao_de_credito  7000 non-null   int64
 11  membro_ativo              7000 non-null   int64
dtypes: float64(1), int64(7), object(4)
memory usage: 656.4+ KB

In [5]:
# discover the missing values (and get the counter)
df.isna().sum()

RowNumber                   0
id                          0
sobrenome                   0
pontuacao_credito           0
estado_residencia           0
genero                      0
idade                       0
nivel_estabilidade          0
saldo_conta                 0
numero_produtos             0
possui_cartao_de_credito    0
membro_ativo                0
dtype: int64

In [6]:
# group rows by 'estado_residencia' and summarize 'pontuacao_credito' column by average, median, mode and standard deviation
credit_score_by_state = df.groupby('estado_residencia')['pontuacao_credito'].agg(
    moda=(pd.Series.mode),
    mediana=('median'),
    media=('mean'),
    desvio_padrao=('std')
)

In [7]:
# sort (desc) by 'estado_residencia'
credit_score_by_state = credit_score_by_state.sort_values(by='estado_residencia', ascending=False)
# j/ a view data
credit_score_by_state

                   moda  mediana       media  desvio_padrao
estado_residencia
SC                  850      653  649.537653      97.233493
RS                  850      650  651.105143      95.136598
PR                  850      650  648.961294      98.607186

In [8]:
# transpose dataframe
credit_score_by_state = credit_score_by_state.T
# j/ a view data
credit_score_by_state

estado_residencia          SC          RS          PR
moda               850.000000  850.000000  850.000000
mediana            653.000000  650.000000  650.000000
media              649.537653  651.105143  648.961294
desvio_padrao       97.233493   95.136598   98.607186

In [9]:
# convert to JSON format and export results to 'submission.json'
credit_score_by_state.to_json('submission.json')